p {
  font-family: 'Rubik Pixels', cursive;

}
.two {
  font-family: 'Sedgwick Ave Display', cursive;
}
.green {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
.four {
  font-family: 'Fjalla One', sans-serif;
}
.five {
  font-family: 'Indie Flower', cursive;
}
